.header {
    background: linear-gradient(135deg, #2a4a67 0%, #191e27 100%);
    padding-bottom: 50px;
    height: 100vh;
    position: relative;
    &-btn {
        position: relative;
        margin: 0 auto;
        padding-top: 20px;
        .btn {
            position: relative;
            text-decoration: none;
            transition: all 0.6s;
            font-size: 28px;
            font-weight: 300;
        }
    }
    // &__wrapper {
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    // }
    &__wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .title {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        &__header {
            // color: #4e5763;
            padding-bottom: 10px;
            span {
                color: #677381;
                font-weight: 300;
                font-size: 38px;
                padding-bottom: 20px;
            }
        }
        &__subheader {
            span {
                font-size: 45px;
                font-weight: 700;
            }
        }
    }
    &__img {
        border-radius: 1px solid #060f18;
        width: 500px;
        img {
            display: block;
            width: 100%;
            border-radius: 30%;
            border: 1px solid #060f18;
        }
    }
}
.btn {
    &:before {
        content: "";
        width: 0;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: #fff;
        transition: all 0.5s;
    }
    &:hover {
        &:before {
            width: 100%;
            left: 0;
            background: #fff;
        }
    }
}
.line {
    width: 100%;
    height: 2px;
    margin-top: 30px;
    background-color: rgba(#fff, 0.5);
}
