.portfolio {
    padding: 20px 0 50px 0;
    &__list {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        flex-wrap: wrap;
        
    }
    // background-color: #2a4a67;
    background: linear-gradient(135deg, #2a4a67 0%, #225695 100%);
}
.item {
    // background-color: #000;
    width: 350px;
    // height: 200px;
    text-align: center;
    position: relative;
    display: block;
    cursor: pointer;
    transition: all .5s ease;
    // border: 2px solid white;
    margin: 20px 0;
    padding: 30px 20px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    background-color: rgba(#191e27, 0.25);
    z-index: 1;
    a {
        
        transition: all .5s ease;
        display: block;
        // background-color: #000;
        // color: #000; 
        z-index: 2;
        // width: auto;
        // height: 100%;
        border: 2px solid white;
        filter: brightness(40%);
    }
    img {

        display: block;
        transition: all .5s ease;
        // height: 100%;

    }
    span {
        display: block;
        position: absolute;
        text-transform: uppercase;
        font-weight: 500;
        z-index: -1;
        text-align: center;
        
    }
    // &:before {
    //     position: absolute;
    //     content: '';
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-size: cover;
    //     filter: grayscale(100%);
    //     transition: all .5s ease;
    //   }
      
      &:hover {
        // &:before {
        //   width: 0;
        // //   border: none;
        // }
        .item__head {
            top: 5px;
        }
        .item__subhead {
            bottom: 5px;
        }
        a {
            filter:none;
            border-radius: 20%;
        }
        img {
            border-radius: 20%;
        }
      }
      
      &:nth-child(1):before {
        background-image: url(../img/portfolio/go-surf.jpg);
      }
    
      &:nth-child(2):before {
        background-image: url(../img/portfolio/dininroom.jpg);
      }

      &:nth-child(3):before {
        background-image: url(../img/portfolio/runsmart.jpg);
      }
    &__head {
        top: 50px;
        font-size: 20px;
        left: 0;
        right: 0;
        transition: all .5s ease;
    }
    &__subhead {
        bottom: 50px;
        font-size: 15px;
        left: 0;
        right: 0;
        transition: all .5s ease;
    }
}