
.title {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
	text-transform: uppercase;
}
.subtitle {
    font-size: 28px;
    text-align: center;
    font-weight: 500;
	padding-bottom: 20px;
}
.pageup {
    opacity: 0;
	width: 40px ;
	height: 40px;
	position: fixed;
	bottom: 30px;
	right: 3%;
	z-index: 30;
	// background-color: #fff;
	cursor: pointer;
	// border: 1px solid white;
    transition: .5s all ease;
	border-radius: 100%;
	background-color: #7692d4;
	&:hover {
		background-color: #506491;
	}
}

.preloader_malc {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(135deg, #191e27 0%, #060f18 100%);
	z-index: 99;
	transition: .5s all ease;
	div {
		background: #fff;
		width: 260px;
		height: 40px;
		line-height: 40px;
		border-radius: 8px;
		font-family: arial;
		font-size: 15px;
		color: #111;
		text-align: center;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
		position: fixed;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
}
.social {
	&__links {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0;
        padding: 20px 20px;
		li {
			// border: 1px solid #757575;
			list-style-type: none;
			// margin-top: 20px;
			display: block;
			width: 50px;
			height: 50px;
		}
	}
	&__email {
		font-size: 20px;
		text-align-last: center;
		a {
			text-decoration: none;
			position: relative;
			&:before {
				content: "";
				width: 0;
				height: 1px;
				position: absolute;
				bottom: 0;
				left: 0;
				background: #fff;
				transition: all 0.5s;
			}
			&:hover {
				&:before {
					width: 100%;
					left: 0;
					background: #fff;
				}
			}
		}
	}
}
.github {
    margin-right: 30px;
    img {
        // background-color: #b4ceee;
        transition: all .5s ease;
        border-radius: 100%;
        &:hover {
            border-radius: 100%;
            background-color: #5d75ab;
			box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.7), 0 0 0 3px rgba(#5d75ab, 1);
        }
    }
}
.vk {
	margin-right: 30px;
    img {
        // background-color: #b4ceee;
        transition: all .5s ease;
        border-radius: 100%;
    }
    &:hover {
        img {
            border-radius: 100%;
            background-color: #4477bb;
			box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.7), 0 0 0 3px rgba(#4477bb, 1);
        }
    }
}
.telegram {
    img {
        // background-color: #b4ceee;
        transition: all .5s ease;
        border-radius: 100%;
    }
    &:hover {
        img {
            border-radius: 100%;
            background-color: #06acf6;
			box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.7), 0 0 0 3px rgba(#06acf6, 1);
        }
    }
}