
.title {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
	text-transform: uppercase;
}
.subtitle {
    font-size: 28px;
    text-align: left;
    font-weight: 500;
}
.pageup {
    opacity: 0;
	width: 40px ;
	height: 40px;
	position: fixed;
	bottom: 30px;
	right: 3%;
	z-index: 30;
	// background-color: #fff;
	cursor: pointer;
	// border: 1px solid white;
    transition: .5s all ease;
	border-radius: 100%;
	background-color: #7692d4;
	&:hover {
		background-color: #506491;
	}
}

.preloader_malc {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(135deg, #191e27 0%, #060f18 100%);
	z-index: 99;
	transition: .5s all ease;
	div {
		background: #fff;
		width: 260px;
		height: 40px;
		line-height: 40px;
		border-radius: 8px;
		font-family: arial;
		font-size: 15px;
		color: #111;
		text-align: center;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
		position: fixed;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
}